.form-hldr {
    text-align: center;
}

.signup-form {
    padding: 10% 40%;
    align-self: center;
}

.signup-back-link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.signup-back-link:hover {
    color: #ff8d00;
}

.success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
}

span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
}

.signup-label {
    color: white;
    font-weight: 800;
}

.gender {
    font-weight: 400;
    color: white;
}

.mb-back {
    width: 100%;
    font-weight: 500;
}

.button-sign {
    background-color: white;
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .signup-form {
        padding: 20%;
    }
}

@media only screen and (max-width: 412px) {
    .signup-form {
        padding: 15% 20%;
    }
}