.form-hldr {
    text-align: center;
}

.signup-form {
    padding: 10% 40%;
    align-self: center;
}

.back-link {
    text-decoration: none;
}

.success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
}

span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
}